<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/public/favicon.png" type="image/png" /> 
    <title>Canvas Example (NodeJS)</title>
    <script type="text/javascript" src="https://test.salesforce.com/canvas/sdk/js/47.0/canvas-all.js"></script>
    <script type="text/javascript" src="./public/script.js"></script>
  </head>
  <body id="main-container">
    <h1>Canvas App NodeJS Example</h1>
    <hr/>
    <% if(typeof canvasDetails !== 'undefined' && typeof canvasDetails.context !== 'undefined'){ %>
      <h1>You are logged into a Force.com Canvas app!</h1>
      

      <h3>Sample Content</h3>
      <button id="add" onclick="fw.on_add_content()">Add content</button>
      <button id="clear" onclick="fw.on_clear_content()">Clear Content</button>
      <div id="fw-sample-content">
        
      </div>


      <p>These are the details provided by Salesforce POST request</p>
      <pre style=""><%=JSON.stringify(canvasDetails,undefined,2)%></pre>
    <% }else{ %>
      <h1>You are not logged inside a Force.com Canvas</h1>
      
    <% }%>
   
    <script type="text/javascript">

        // set canvasDetails that are provided by Salesforce as part of the authentication request.
        window.fw = window.fw || {}
        window.fw.canvasDetails = window.fw.canvasDetails || <%- JSON.stringify(canvasDetails)%>;
    </script>
    
  </body>
</html>